{% extends "base.html" %}

{% block graphs %}
<script>
        console.log("-----CONSOLE LOGGING-----\nindex.html loaded")
</script>
<div class="container">
    <!-- TODO consider using canvas element -->
    <div class="chart" id="uniqueBarGraph"> 
        <script>
            console.log("making a Unique Bar Graph");
            var graph = {{uniqueBarGraph | safe}};

            Plotly.newPlot("uniqueBarGraph",graph.data,{title: 'Unique Bar Graph'},{displayModeBar: false});

        </script>
    </div>
    <div class="chart" id="barGraph"> 
        <script>
            console.log("making a Bar Graph");
            var graph = {{barGraph | safe}};

            Plotly.newPlot("barGraph",graph.data,{title: 'Bar Graph'},{displayModeBar: false});

        </script>
    </div>
    <div class="chart" id="scatterPlot">
        <script>
            console.log("making a scatter plot");
            var graph = {{scatterPlot | safe}};

            Plotly.newPlot("scatterPlot",graph.data,{title: 'Scatter Plot'},{displayModeBar: false});

        </script>
        
    </div>
</div>
<div class="container">
        <div class="chart">
            <p id="test"></p>
            <script>
                console.log("{{test | safe}}");
            </script>
        </div>
    </div>
{% endblock %}